---
// import type { CollectionEntry } from "astro:content";
// import { Image } from "astro:assets";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";

import ChapterNav from "@/components/tl/index/ChapterNav.astro";

import "@/styles/variables/tl.scss";
import "@/styles/tl/index.scss";

interface Props {
    title: string;
    titleOG?: string;
    description: string;
    chapterTotal: number;
    chapterSections: Section[];
    banner: ImageMetadata;
    bannerPosition: string;
    slug: string;
    storyTheme: string;
}

const {
    title,
    titleOG,
    description,
    chapterTotal,
    chapterSections,
    slug,
    banner,
    bannerPosition,
    storyTheme,
} = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <style
            lang="scss"
            define:vars={{
                storyBanner: `url(${banner.src})`,
                bannerPosition: `${bannerPosition}`,
            }}
        ></style>
    </head>

    <body>
        <Header />
        <div class="banner"></div>
        <div class="main__wrapper" data-story-theme={storyTheme}>
            <main>
                <article>
                    <section class="">
                        <div class="title__wrapper">
                            <h1 class="en">{title}</h1>
                            {titleOG && <h2 class="og">{titleOG}</h2>}
                        </div>
                        {description}
                        <slot />
                    </section>
                </article>
                <ChapterNav chapterSections={chapterSections} slug={slug} />
            </main>
        </div>
    </body>
</html>
